import { defineConfig } from "@playwright/test";

export default defineConfig({
  testDir: "./test/e2e",
  use: { baseURL: "http://127.0.0.1:5173" },
  webServer: [
    {
      command: "bun run dev:backend",
      port: 3000,
      reuseExistingServer: true,
    },
    {
      command: "bun run dev:frontend",
      port: 5173,
      reuseExistingServer: true,
    },
  ],
});
