import { defineConfig } from "@playwright/test";

export default defineConfig({
  testDir: "./test/e2e",
  testMatch: "**/*.e2e.ts",
  use: { baseURL: "http://127.0.0.1:5173" },
  webServer: [
    {
      command: "bun run dev:backend",
      url: "http://127.0.0.1:3000/health",
      reuseExistingServer: true,
    },
    {
      command: "bun run dev:frontend",
      url: "http://127.0.0.1:5173",
      reuseExistingServer: true,
    },
  ],
});
