import { defineConfig } from "@playwright/test";

export default defineConfig({
  testDir: "./test/e2e",
  testMatch: "**/*.e2e.ts",
  fullyParallel: false,
  use: { baseURL: "http://127.0.0.1:5173" },
  webServer: [
{{backendServer}}
    {
      command: "bun run dev:frontend",
      url: "http://127.0.0.1:5173",
      reuseExistingServer: false,
    },
  ],
});
